### Python --> SQL

### Desde Python podemos conectarnos a SQL y modificar datos, insertar datos, etc.

-Conexión a BBDD
-Crear BBDD
-Crear una tabla
-Insertar datos
-Eliminar datos
-Actualizar datos

### Desde SQL también podremos después...
-Leer datos
-Comando de integración

In [ ]:
pip install mysql-connector-python

In [2]:
#Importamos ciertas librerias (si nos da error lo hacemos con pip install)
import mysql.connector
from mysql.connector import errorcode
import pandas as pd

In [ ]:
#Conectar a BBDD
#Creamos una variable que la llamamos como queramos, pero se suele llamar cnx
#Esto sirve para "conectarnos" a nuestra base de datos
#Usamos:
    #-mysql.coonector.connect
    #-Le pasamos los parámetros user, password y host y a veces, databse

cnx = mysql.connector.connect(user=, password=, host=, database=)

#Creamos un "cursor" al que le vamos a decir qué queremos cmabiar y demás

mycursor = cnx.cursor()

# Una vez hecho todo esto, haríamos las queries, selecciones, creaciones...
# PERO la sintaxis aquí es ligeramente diferente

#Hay varias opciones de ejecutar queries y podéis elegir la que más sencilla os parezca

#Opcion1
mycursor.execute('query') #Dentro puede haber un SELECT, CREATE...

#Opcion2

consulta = 'query'
mycursor.execute(consulta)

#Opcion3

consulta = 'query'
valores =('val1', 'val2')
mycursor.execute(consulta, valores)

#Los resultados los vamos a tener con comandos como:
fetchone()
fetchall()
commit()
cnx.close()

In [ ]:
# Conexion a la bases de datos
params = {
    'user':'root', password:'', host:'127.0.0.1'
}
cnx = mysql.connector.connect(user='root', password='', host='127.0.0.1')

## Ejecutar el cursor

cursor = cnx.cursor()

cursor.execute('CREATE DATABASE IF NOT EXISTS bd_prueba')

cnx.close()

In [26]:
cnx = mysql.connector.connect(user='root', password='', host='127.0.0.1', database= 'bd_prueba')
cursor = cnx.cursor()
query = "CREATE TABLE IF NOT EXISTS customers(name VARCHAR(255) , address  VARCHAR(255))"
cursor.execute(query)

In [6]:
queryInsert = 'INSERT INTO customers (name, address) VALUES(%s, %s)'
valuesInsert = ('Carla', 'Madrid')

cursor.execute(queryInsert, valuesInsert)

In [7]:
cnx.commit()
## Siempre se usa en los insert, update y delete

In [10]:
queryInsertAll = 'INSERT INTO customers (name, address) VALUES(%s, %s)'
valuesInsertAll = [('Paola', 'Madrid'), ('Katie', 'Madrid'), ('Rosa', 'Madrid')]
cursor.executemany(queryInsertAll, valuesInsertAll)
cnx.commit()

In [11]:
## Deshacer los cambios, pero antes del commit
cnx.rollback()

In [12]:
## Delete 
name = "Paola"
queryDelete = "DELETE FROM customers WHERE name = %s"
cursor.execute(queryDelete, name)
cnx.commit()

In [13]:
## Update 
queryUpdate = "UPDATE customers SET address = 'Santander' WHERE name = 'Rosa'"
cursor.execute(queryUpdate)
cnx.commit()

In [27]:
## Select y ver los valores que trae el resultado

querySelect = "SELECT * FROM customers"
cursor.execute(querySelect)

## result = cursor.fetchone()
result = cursor.fetchone()
print(result)
cnx.close()

('Carla', 'Madrid', 1)

In [32]:
## Select y ver los valores que trae el resultado
cnx = mysql.connector.connect(user='root', password='', host='127.0.0.1', database= 'bd_prueba')
cursor = cnx.cursor()
querySelect = "SELECT * FROM customers"
cursor.execute(querySelect)

## result = cursor.fetchone()
results = cursor.fetchall()
print(results)

[('Carla', 'Madrid', 1), ('Katie', 'Madrid', 3), ('Rosa', 'Santander', 4), ('Katie', 'Madrid', 6), ('Rosa', 'Santander', 7)]

In [33]:
df = pd.DataFrame(results, columns=[ 'nombre', 'ciudad', 'id'])

In [34]:
df

  nombre     ciudad  id
0  Carla     Madrid   1
1  Katie     Madrid   3
2   Rosa  Santander   4
3  Katie     Madrid   6
4   Rosa  Santander   7

In [35]:
## Funciones que puedo hacer en un df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nombre  5 non-null      object
 1   ciudad  5 non-null      object
 2   id      5 non-null      int64
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes

In [36]:
df.describe()

             id
count  5.000000
mean   4.200000
std    2.387467
min    1.000000
25%    3.000000
50%    4.000000
75%    6.000000
max    7.000000

In [38]:
df.isnull().sum()

nombre    0
ciudad    0
id        0
dtype: int64

In [39]:
df.columns

Index(['nombre', 'ciudad', 'id'], dtype='object')

In [42]:
## establecer una conexion
def getConecction (): 
    try: 
        cnx = mysql.connector.connect(user='root', password='', host='127.0.0.1', database= 'bd_prueba')
        print("Conexión exitosa")
        return cnx
    except mysql.connector.Error as err:
        print(f"Error al conectar con MYSQL: {err}")

Conexión exitosa

In [ ]:
cnx = mysql.connector.connect(user='root', password='', host='127.0.0.1')
cursor = cnx.cursor()
cursor.execute('CREATE DATABASE bd_prueba')

In [46]:
try: 
    cursor = cnx.cursor()
    cursor.execute('CREATE DATABASE bd_prueba')
    print("Consulta exitosa")
except:
    print("Error")

Error

In [47]:
cnx.close()