# LECTURA DE FICHEROS

### Vamos a explorar...

- XML
- JSON
- CSV
- EXCEL

### XML

- "Lenguaje de Marcado Extensible". Es decir, es un lenguaje que utiliza etiquetas.
- Su objetivo es estructurar datos, guardarlos para luego poder utilizarlos.
- Usos: almacenamiento de datos, almacenar datos en la web.

In [ ]:
""" <libros>
    <libro>
        <titulo>El Principito</titulo>
        <autor>Antoine de Saint-Exupéry</autor>
        <año>1943</año>
    </libro>
    <libro>
        <titulo>1984</titulo>
        <autor>George Orwell</autor>
        <año>1949</año>
    </libro>
</libros> """

### JSON
- Ya lo hemos visto, pero son estructuras basadas en pares clave-valor y listas.
>>

In [ ]:
"""{ "nombre": "Juan",
  "edad": 30,
  "país": "México" 
}"""

### CSV
- Archivo en forma de tabla donde cada lína representa una fila y las columnas están separadas por comas (a veces por punto y coma):

In [ ]:
""" Nombre,Edad,País
Juan,30,México
María,25,España"""

### EXCEL

- Ya nos sonará bastante. Se utiliza para almacenar datos en hojas de cálculo

Normalmente tendremos una variable donde guardaremos el fichero. Para leer el fichero utilizaremos la librería pandas.
La usaremos MUCHO MUCHO
Nos va a ser MUY útil para manejar datos

In [3]:
import pandas as pd

In [ ]:
#La estructura sería

nombre_variable = pd.read_json/xml/csv("personajes_pelicula.json")

In [ ]:
df_one_piece = pd.read_json("./datasets/one_piece.json") 
# /Users/yanelisserranotaylor/Documents/TRABAJO/workspace-adalab/DA/promos/promo-47/da-promo-l-ft-ejercicios-profes/modulo-2/datasets/one_piece.json -- ruta absoluta
# ruta relativas: accedo desde la carpeta dond estoy posicionada, ../ para salir de una carpeta, ./ de la carpeta en adelante

In [5]:
df_one_piece

,rank,trend,season,episode,name,start,total_votes,average_rating
0,"24,129",18,1,1,I'm Luffy! The Man Who Will Become the Pirate ...,1999,647,7.6
1,"29,290",11,1,2,"The Great Swordsman Appears! Pirate Hunter, Ro...",1999,473,7.8
2,"32,043",7,1,3,Morgan vs. Luffy! Who's This Beautiful Young G...,1999,428,7.7
3,"28,818",8,1,4,Luffy's Past! The Red-haired Shanks Appears!,1999,449,8.1
4,"37,113",4,1,5,"Fear, Mysterious Power! Pirate Clown Captain B...",1999,370,7.5
5,"36,209",4,1,6,Desperate Situation! Beast Tamer Mohji vs. Luffy!,1999,364,7.7

In [6]:
df_one_piece.head(10)

,rank,trend,season,episode,name,start,total_votes,average_rating
0,"24,129",18,1,1,I'm Luffy! The Man Who Will Become the Pirate ...,1999,647,7.6
1,"29,290",11,1,2,"The Great Swordsman Appears! Pirate Hunter, Ro...",1999,473,7.8
2,"32,043",7,1,3,Morgan vs. Luffy! Who's This Beautiful Young G...,1999,428,7.7
3,"28,818",8,1,4,Luffy's Past! The Red-haired Shanks Appears!,1999,449,8.1
4,"37,113",4,1,5,"Fear, Mysterious Power! Pirate Clown Captain B...",1999,370,7.5
5,"36,209",4,1,6,Desperate Situation! Beast Tamer Mohji vs. Luffy!,1999,364,7.7

In [7]:
df_one_piece.tail(3)

,rank,trend,season,episode,name,start,total_votes,average_rating
3,"28,818",8,1,4,Luffy's Past! The Red-haired Shanks Appears!,1999,449,8.1
4,"37,113",4,1,5,"Fear, Mysterious Power! Pirate Clown Captain B...",1999,370,7.5
5,"36,209",4,1,6,Desperate Situation! Beast Tamer Mohji vs. Luffy!,1999,364,7.7

In [8]:
df_one_piece.sample(2)

,rank,trend,season,episode,name,start,total_votes,average_rating
3,"28,818",8,1,4,Luffy's Past! The Red-haired Shanks Appears!,1999,449,8.1
5,"36,209",4,1,6,Desperate Situation! Beast Tamer Mohji vs. Luffy!,1999,364,7.7

In [9]:
df_one_piece.isnull()

    rank  trend  season  episode   name  start  total_votes  average_rating
0  False  False   False    False  False  False        False           False
1  False  False   False    False  False  False        False           False
2  False  False   False    False  False  False        False           False
3  False  False   False    False  False  False        False           False
4  False  False   False    False  False  False        False           False
5  False  False   False    False  False  False        False           False

In [10]:
df_one_piece.isnull().sum()

rank              0
trend             0
season            0
episode           0
name              0
start             0
total_votes       0
average_rating    0
dtype: int64

In [11]:
df_one_piece.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   rank            6 non-null      object
 1   trend           6 non-null      int64
 2   season          6 non-null      int64
 3   episode         6 non-null      int64
 4   name            6 non-null      object
 5   start           6 non-null      int64
 6   total_votes     6 non-null      int64
 7   average_rating  6 non-null      float64
dtypes: float64(1), int64(5), object(2)
memory usage: 512.0+ bytes

In [ ]:
df_one_piece.drop_duplicates()

In [12]:
valores_unicos = df_one_piece["rank"].unique()
valores_unicos

array(['24,129', '29,290', '32,043', '28,818', '37,113', '36,209'],
      dtype=object)

In [14]:
df_books = pd.read_xml("./datasets/books.xml")

In [ ]:
df_books

In [19]:
df_libros = pd.read_excel("./datasets/libros_ejemplo.xlsx")

In [17]:
df_libros

   ID   Nombre    Autor  Precio Fecha_Publicacion
0   1  Libro A  Autor 1   15.99        2021-05-10
1   2  Libro B  Autor 2   23.50        2020-11-15
2   3  Libro C  Autor 3   12.75        2019-06-20
3   4  Libro D  Autor 4    8.99        2022-02-01
4   5  Libro E  Autor 5   19.95        2018-09-05

In [20]:
df_movies = pd.read_csv("./datasets/christmas_movies.csv")

In [24]:
df_movies

,title,rating,runtime,imdb_rating,meta_score,genre,release_year,description,director,stars,votes,gross,img_src,type
0,Love Actually,R,135.0,7.6,55.0,"Comedy, Drama, Romance",2003.0,Follows the lives of eight very different coup...,Richard Curtis,"Hugh Grant, Martine McCutcheon, Liam Neeson, L...","517,283",$59.70M,https://m.media-amazon.com/images/M/MV5BNThkNj...,Movie
1,Home Alone,PG,103.0,7.7,63.0,"Comedy, Family",1990.0,"An eight-year-old troublemaker, mistakenly lef...",Chris Columbus,"Macaulay Culkin, Joe Pesci, Daniel Stern, John...","629,713",$285.76M,https://m.media-amazon.com/images/M/MV5BMzFkM2...,Movie
2,National Lampoon's Christmas Vacation,PG-13,97.0,7.5,49.0,Comedy,1989.0,The Griswold family's plans for a big family C...,Jeremiah S. Chechik,"Chevy Chase, Beverly D'Angelo, Juliette Lewis,...","213,196",$71.32M,https://m.media-amazon.com/images/M/MV5BMGZkMW...,Movie
3,Elf,PG,97.0,7.1,66.0,"Adventure, Comedy, Family",2003.0,"Raised as an oversized elf, Buddy travels from...",Jon Favreau,"Will Ferrell, James Caan, Bob Newhart, Zooey D...","300,546",$173.40M,https://m.media-amazon.com/images/M/MV5BMzUxNz...,Movie
4,How the Grinch Stole Christmas,PG,104.0,6.3,46.0,"Comedy, Family, Fantasy",2000.0,"On the outskirts of Whoville lives a green, re...",Ron Howard,"Jim Carrey, Taylor Momsen, Kelley, Jeffrey Tam...","280,898",$260.04M,https://m.media-amazon.com/images/M/MV5BNWNiNT...,Movie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
868,CBS News Sunday Morning with Jane Pauley: Epis...,TV-G,NaN,NaN,NaN,"News, Talk-Show",1979.0,The popularity of pickup trucks; Luke Burbank ...,Kate D'Arcy-Coleman,"Jane Pauley, Serena Altschul, Nicholas Britell...",NaN,NaN,https://m.media-amazon.com/images/M/MV5BMWJhYz...,TV Episode
869,Honest Ads: If Holiday Movies Were Honest,NaN,NaN,NaN,NaN,"Short, Comedy",2012.0,What if Hollywood were honest about how they m...,Michael Strauss,"Jack Hunter, Britt Migs, Michael Strauss,",NaN,NaN,https://m.media-amazon.com/images/M/MV5BNzY1Nj...,TV Episode
870,Cosmic Cowboys: Céréal Christmas,NaN,NaN,NaN,NaN,Animation,2004.0,Add a Plot,NaN,NaN,NaN,NaN,https://m.media-amazon.com/images/S/sash/i-t32...,TV Episode
871,Proper Manors: Christmas Special: Christmas Pa...,NaN,20.0,NaN,NaN,"Action, Comedy, Crime",2012.0,Miles Barnes is forced to throw contractually-...,Dallin Boyce,"Brandyn Cross, Peter D'Alessio, Janis Race-Big...",NaN,NaN,https://m.media-amazon.com/images/S/sash/i-t32...,TV Episode
872,Sacred Music at Christmas: A Choral Christmas,NaN,NaN,NaN,NaN,"Documentary, Music",2010.0,Add a Plot,NaN,NaN,NaN,NaN,https://m.media-amazon.com/images/S/sash/i-t32...,TV Episode

In [22]:
df_movies.isnull().sum()

title             0
rating          213
runtime          41
imdb_rating      34
meta_score      773
genre             1
release_year     11
description       0
director          5
stars            11
votes            34
gross           794
img_src           0
type              0
dtype: int64

In [23]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 873 entries, 0 to 872
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         873 non-null    object
 1   rating        660 non-null    object
 2   runtime       832 non-null    float64
 3   imdb_rating   839 non-null    float64
 4   meta_score    100 non-null    float64
 5   genre         872 non-null    object
 6   release_year  862 non-null    float64
 7   description   873 non-null    object
 8   director      868 non-null    object
 9   stars         862 non-null    object
 10  votes         839 non-null    object
 11  gross         79 non-null     object
 12  img_src       873 non-null    object
 13  type          873 non-null    object
dtypes: float64(4), object(10)
memory usage: 95.6+ KB

In [25]:
df_movies.fillna("Sin datos", inplace=True)

In [ ]:
df_movies

In [29]:
## Guardar la información del  dataframes
df_movies.to_csv("./datasets/movies_clean.csv", index=False)